.slsv-button {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-color: blue;
}
.slsv-input{
    background-color: rgb(123, 123, 209);
}
.h1{
    background-color: rgb(231, 161, 80);
}