.slsv-skin{
    font-size: x-small;
    font-family: 'Courier New', Courier, monospace;
}
input {
    font-weight: bold;
}

button {
    background-color: yellowgreen;
}

#zzzz{
    background-color: red;
}